.project-display-table {
	border-collapse: collapse;
	border-bottom: 1px solid var(--bg-lite);
	table-layout: auto;
	width: min(90vw, 800px);
}

.project-display-row {
	border-top: 1px solid var(--bg-lite);
	text-align: left;
	line-height: 30px;
}

.project-display-row:hover {
	background-color: var(--bg-litish);
	cursor: pointer;
}

.project-display-row.table-header {
	padding: 0 10px;
	border-top: none;
}

.project-display-row.table-header:hover {
	background-color: transparent;
	cursor: auto;
}

.project-display-row.table-header > td {
	font-weight: bold;
}

.project-display-row > td {
	color: var(--text-color);
	user-select: none;
}