.track-list {
	border: 2px solid var(--bg-darker);
	border-radius: 3px;
	display: inline-block;
	background-color: var(--bg-darker);
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
}

.track-list:empty {
	padding: 10px 20px;
}

.selected-track-list-entry {
	padding: 10px 20px;
	width: 180px;
	background-color: var(--hl-dark);
	border-radius: 3px;
	color: var(--text-color);
	user-select: none;
}

.track-list-non-selectable {
	padding: 10px 20px;
	width: 180px;
	background-color: var(--bg-darker);
	color: #777;
	user-select: none;
}

.track-list-entry {
	padding: 10px 20px;
	width: 180px;
	background-color: var(--bg-dark);
	color: var(--text-color);
	user-select: none;
}

.track-list-entry:hover {
	background-color: var(--bg-darker);
}

.track-choice-list-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}