.settings-group {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: stretch;
	background-color: var(--bg-dark);
	padding: 20px;
	border-radius: 20px;
	width: 90vw;
	max-width: 400px;
}

.settings-group > h3 {
	margin: 0;
}

.settings-group > p {
	margin: 0;
	text-align: left;
}