.tile-length-chooser {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tile-length-chooser > p {
	margin-left: 8px;
	margin-right: 8px;
	font-size: small;
}

.tile-length-chooser > p:first-of-type {
	margin-left: 0px;
}

.tile-length-chooser:last-child {
	margin-right: 0px;
}