.doughnut-container {
	width: 80vw;
	max-width: 390px;
}

.multi-doughnut-container {
	background-color: var(--bg-dark);
	border-radius: 10px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}