.comment-feed {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.comment-thread {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.comment-container {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-dark);
	border-radius: 10px;
	padding: 10px;
	width: 80vw;
	max-width: 500px;
	margin: 0 auto;
}

.comment-reply-container {
	margin-left: 50px;
}

.comment-reply-container > div {
	border-left: 4px solid var(--bg-lite);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.comment-head {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.comment-head > img {
	aspect-ratio: 1 / 1;
	width: 75px;
	border-radius: 10px;
	border: 2px solid var(--bg-lite);
}

.comment-name-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.comment-name-container > span:first-child {
	font-size: 20px;
}

.comment-name-container > span:last-child {
	color: var(--inactive-white);
}

.comment-content > p {
	text-align: left;
	white-space: pre-wrap;
	margin: 10px 0px;
}