.editor-menu-button, .editor-menu-close-button {
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%) translateY(100%);
	transform: translateX(-50%) translateY(100%);
	background-color: var(--hl-med);
	padding: 15px 40px;
	border-radius: 0 0 5px 5px;
	border: 1px solid var(--bg-dark);
	border-top: 0;
	box-shadow: 0 3px 2px black;
	cursor: pointer;
	pointer-events: auto;
	z-index: 2;
	width: 120px;
	transition: background-color linear 0.2s;
}

.editor-menu-close-button {
	background-color: var(--bg-dark);
}

.editor-menu-button p, .editor-menu-close-button p {
	margin: 0;
	font-weight: bold;
	user-select: none;
}

.editor-menu-content, .editor-menu-content-hidden {
	background-color: var(--bg-dark);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	box-shadow: 0 3px 2px black;
	transition: transform ease-in-out 0.25s;
	padding: 10px 0px;
}

.editor-menu-content-hidden {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	pointer-events: none;
}

.editor-menu-wrapper, .editor-menu-wrapper-hidden {
	position: fixed;
	width: 100%;
	z-index: 3;
}

.editor-menu-wrapper-hidden {
	pointer-events: none;
}