.hamburger-menu-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.hamburger-menu-btn {
	margin: 0 15px;
	height: 100%;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.hamburger-menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: var(--header-height);
	width: 100%;
	height: calc(100% - var(--header-height));
	background-color: var(--bg-dark);
	z-index: 5;
	box-shadow: 0 3px 2px black;
	border-top: 1px solid black;
	transition: transform ease-in-out 0.25s;
	overflow-y: scroll;
}

.hamburger-menu.closed {
	transform: translateY(-100%);
}

@media (min-width: 1051px) {
	.hamburger-menu-container {
		display: none;
	}

	.hamburger-menu {
		display: none;
	}
}