.header {
	background-color: var(--bg-dark);
	display: flex;
	box-shadow: 2px 2px 5px black;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 6;
}

.titleContainer {
	display: flex;
	align-items: stretch;
	line-height: var(--header-height);
	height: var(--header-height);
}

.titleContainer h3 {
	color: var(--text-color);
	margin: 0px 5px;
	flex-shrink: 0;
}

.titleContainer img {
	height: 45px;
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
}

.titleContainer p {
	flex-shrink: 0;
}