.home-info-container {
	width: 80vw;
	max-width: 400px;
	margin: 0 auto;
	background-color: var(--bg-norm);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 3px 3px 10px black;
	position: absolute;
	top: 50vh;
	left: max(80vw - 400px, 0px);
	transform: translateY(-50%);
	margin: 10px;
}

.home-background {
	position: relative;
	height: calc(100vh - 2 * var(--header-height));
	padding-bottom: calc(var(--header-height));
	padding-top: var(--header-height);
	overflow: hidden;
}

.home-image {
	background-image: url(/thumbnail-grid.png);
	background-repeat: repeat;
	filter: blur(2.5px);
	min-height: calc(100vh - 3 * var(--header-height));
	width: calc(1280px * 3);
	height: calc(1440px * 3);
	padding-top: var(--header-height);
	animation: scroll-home-background 240s linear infinite;
}

@keyframes scroll-home-background {
	0% {
		transform: translateX(0px) translateY(0px);
	}
	100% {
		transform: translateX(calc(-100% / 3)) translateY(calc(-100% / 3));
	}
}