.home-info-container {
	width: 80vw;
	max-width: 400px;
	margin: 0 auto;
	background-color: var(--bg-norm);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 3px 3px 10px black;
	position: absolute;
	top: 50vh;
	left: max(80vw - 400px, 0px);
	transform: translateY(-50%);
}

@media (max-width: 570px) {
	.home-info-container {
		left: 50vw;
		transform: translateX(-50%) translateY(-50%);
		margin: 0;
	}
}

.home-background {
	position: relative;
	min-height: calc(100vh - 2 * var(--header-height));
	height: calc(100vh - var(--header-height) - var(--footer-height));
	padding-bottom: calc(var(--footer-height));
	padding-top: var(--header-height);
	overflow: hidden;
}

.home-image {
	background-image: url(/thumbnail-grid.jpg);
	background-size: 2560px 1440px;
	background-repeat: repeat;
	filter: blur(2px) brightness(0.6);
	width: calc(2560px * 2);
	height: calc(1440px * 2);
	animation: scroll-home-background 480s linear infinite;
	perspective-origin: center;
}

@keyframes scroll-home-background {
	0% {
		transform: translateX(0px) translateY(0px) translateZ(0.1px);
	}
	100% {
		transform: translateX(-2560px) translateY(-1440px) translateZ(0.1px);
	}
}

@media (prefers-reduced-motion) {
	.home-image {
		animation: none;
	}
}