@import "~react-image-gallery/styles/css/image-gallery.css";

.level-page-img-container > p {
	margin: 4px auto;
	text-align: left;
}

.level-page-img-container {
	max-width: 400px;
	margin: 0 auto;
}

.level-page-img-container > img {
	aspect-ratio: 16 / 9;
	width: 100%;
	object-fit: fill !important;
}

.level-page-top {
	display: flex;
	gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
}

.level-page-title {
	margin: 5px;
}

.level-page-info-container {
	background-color: var(--bg-dark);
	padding: 20px;
	border-radius: 20px;
	position: relative;
	white-space: pre-wrap;
}

.level-page-info-container > p, .level-page-info-container > h4 {
	text-align: left;
	margin: 5px;
}

.level-code {
	font-family: 'Courier New', Courier, monospace;
	width: max-content;
	padding: 5px 10px;
	margin: 0 auto;
	margin-top: -8px;
}

.level-page-content {
	display: flex;
	flex-direction: column;
	width: 90vw;
	max-width: 800px;
	margin: 0 auto;
	gap: 20px;
}

.info-table {
	width: 100%;
	flex-grow: 1;
}

.info-table > tr > td {
	color: var(--text-color);
	padding: 10px 20px;
	border: 2px solid var(--bg-norm);
}

.info-table > tr > td:first-child {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	background-color: var(--bg-norm);
}

.info-table > tr > td:last-child {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}