.level-results {
	min-height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	width: 90vw;
	max-width: 960px;
	justify-content: center;
}

.level-preview-table-container {
	overflow-x: auto;
	max-height: 300px;
}

.level-preview-table {
	color: var(--text-color);
	border-collapse: collapse;
}

.level-preview-table > tbody > tr {
	border-top: 1px solid var(--bg-lite);
}

.level-preview-table > tbody > tr > td {
	padding: 5px;
}