.navbar {
	height: var(--header-height);
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}

.navlink {
	display: inline-block;
	line-height: var(--header-height);
	height: var(--header-height);
	padding: 0px 20px;
	color: var(--text-color);
	text-decoration: none;
	cursor: pointer;
}

.navlink:hover {
	background-color: var(--bg-darker);
}

.navlinkActive:hover {
	background-color: var(--hl-med);
}

.navlinkActive {
	background-color: var(--hl-med);
}

@media (max-width: 1100px) {
	.navbar {
		display: none;
	}
}