.note-display-area {
	position: relative;
	flex-grow: 1;

	background-color: var(--bg-darker);
	background-image:
	linear-gradient(to right, var(--bg-norm) 1px, transparent 1px),
    linear-gradient(to bottom, var(--bg-norm), transparent 1px),
    linear-gradient(to right, var(--bg-dark) 1px, transparent 1px),
    linear-gradient(to bottom, var(--bg-dark) 1px, transparent 1px);
	background-position: -1px -1px;
	background-attachment: local;

	padding-bottom: 16px;
	padding-right: 16px;
	margin: 0 auto;

	border: 2px solid var(--bg-dark);
	border-radius: 3px;
}

.piano-roll-container {
	max-height: 200px;
	min-height: calc((8px * (12 * 2 + 4)));
	overflow: auto;
	display: flex;
}

.piano-roll-note {
	position: absolute;
	border: 1px solid white;
	border-radius: 2px;
}