.piano-container {
	position: sticky;
	left: 0;
	z-index: 2;
	overflow-y: clip;
}

.piano-key-white {
	background-color: white;
	border: 1px solid lightgray;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.piano-key-white > p {
	color: gray;
	margin: 0;
	font-weight: bold;
	user-select: none;
}

.piano-key-black {
	background-color: black;
	position: absolute;
	transform: translateY(-50%);
	z-index: 1;
}