.popup {
	background-color: var(--bg-dark);
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%) scale(1);
	z-index: 10;
	border-radius: 20px;
	box-shadow: 4px 4px 4px black;
	max-width: max-content;
	width: 80vw;
	transition: transform 0.15s;
}

.popup-x {
	position: absolute;
	left: calc(100% - 43px);
	top: 8px;
	cursor: pointer;
}

.popup-x > svg {
	color: var(--text-color);
	background-color: var(--bg-dark);
	border-radius: 50%;
	padding: 5px;
	transition: filter 0.1s;
}

.popup-x > svg:hover {
	filter: brightness(50%);
}

.popup.closed {
	transform: translateX(-50%) translateY(-50%) scale(0);
	pointer-events: none;
}

.dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0%;
	transition: opacity 0.3s;
	background-color: black;
	z-index: 10;
	pointer-events: none;
}

.dark-overlay.open {
	opacity: 40%;
	pointer-events: all;

}

.popup-header {
	background-color: var(--bg-litish);
	height: 50px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: var(--text-color);
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	padding-left: 20px;
	line-height: 50px;
}

.popup-content {
	padding: 0 35px;
	overflow-y: auto;
	max-height: 60vh;
}