.search-bar {
	border-radius: 24px;
	background-color: var(--bg-darker);
	border: 2px solid var(--bg-darker);
	color: var(--text-color);
	height: 40px;
	font-size: 18px;
	padding: 0 5px 0 15px;
	width: 90vw;
	max-width: 500px;
	display: flex;
	align-items: center;
	transition: box-shadow 0.2s;
}

.search-bar.open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.search-bar > input {
	background-color: transparent;
	border: none;
	color: var(--text-color);
	height: 30px;
	font-size: 18px;
	width: 0;
	flex-grow: 1;
	outline: none
}

.search-bar-icon {
	padding: 5px;
	border-radius: 50%;
	transition: background-color 0.2s;
	margin: 0 2px;
}

.search-bar-icon:hover {
	background-color: var(--bg-lite);
	cursor: pointer;
}

.search-bar-wrapper:focus-within > div, .search-bar-wrapper:hover > div {
	box-shadow: 3px 3px 5px black;
}

.search-suggestion-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-darker);
	width: calc(90vw + 24px);
	max-width: 524px;
	z-index: 1;
	transition: box-shadow 0.2s, filter 0.2s;
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
	padding-bottom: 20px;
}

.search-suggestion-container > span {
	padding: 5px;
	width: calc(100% - 24px);
	text-align: left;
	user-select: none;
	padding-left: 20px;
	cursor: pointer;
}

.search-suggestion-container > span:hover {
	background-color: var(--bg-litish);
}

.search-settings {
	max-width: 800px;
}

.search-settings-dropdown-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 20px;
}

.search-settings-dropdown-container > div {
	padding: 10px;
}

.count-badge {
	position: absolute;
	left: 18px;
	top: 0px;
	border-radius: 12px;
	background-color: var(--hl-med);
	min-width: 12px;
	height: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4px;
	pointer-events: none;
}

.count-badge > span {
	font-size: 16px;
	font-weight: bold;
	user-select: none;
	position: relative;
	top: -1px;
}

.search-bar-dropdown {
	padding: 5px 10px;
}