.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.5s ease-in-out infinite;
  transform: translate(-6px, -6px);
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

.image-spinner {
  width: 100%;
  height: 100%;
  animation: image-spinner 3s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-darker)
}

@keyframes image-spinner {
    0%,100% {
      filter: brightness(60%);
    }
    50% {
      filter: brightness(100%);
    }
  }