.super-world-preview {
	background-color: var(--bg-dark);
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	transition: transform 0.2s;
	display: flex;
}

.super-world-preview:hover {
	transform: scale(1.05);
}

.super-world-thumbnail-container {
	display: grid;
	padding: 10px;
	flex-grow: 1;
}

.super-world-info-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.super-world-info-container > h3 {
	margin: 0;
	text-align: left;
}

@media (max-width: 860px) {
	.super-world-preview {
		flex-direction: column;
	}

	.super-world-info-container {
		margin-left: 10px;
	}
}