.usermenu {
	margin: 0 15px;
	height: 100%;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.user-icon{
	height: 40px;
	border-radius: 50%;
	display: block;
	aspect-ratio: 1 / 1;
}

.user-icon:hover {
	filter: brightness(80%);
}

.usermenu-container {
	display: contents;
}

.usermenudropdown {
	width: 180px;
	background-color: var(--bg-dark);
	box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.6);
	border: 1px solid var(--bg-lite);
	border-radius: 8px;
	position: absolute;
	right: 15px;
	top: 60px;
	display: block;
}

.usermenuitem {
	display: flex;
	padding-left: 15px;
	line-height: 40px;
	color: var(--text-color);
	text-decoration: none;
	border-radius: 8px;
	user-select: none;
	cursor: pointer;
}

.usermenuitem:hover {
	background-color: var(--bg-darker);
}

.usermenudropdown hr {
	border: 0;
    height: 1px;
    background: var(--bg-lite);
}

.hidden {
	display: none;
}

.login-container > button {
	margin: auto 10px;
}

@media (max-width: 1050px) {
	.usermenu-container {
		display: none;
	}
}